/*website style*/

h1.headline {
  color: #ff99ff;
  width: 100%;
  margin: 15px;
  font-family: "League Script";
  font-size: 55px;
}

h2.title {
  color: #008ae6;
  font-family: "Tillana";
  font-size: 45px;
  margin: 10px;
}

h2.subtitle {
  color: #80ccff;
  font-family: "Tillana";
  font-size: 30px;
}

h4.content, h3.header {
  color: skyblue;
  margin: 15px;
  text-align: center;
  font-family: "Poiret One";
  font-size: 25px;
}

ul.list {
    font-family: "Poiret One";
    color: grey;
}

li.link, ul.menu {
  font-family: "Poiret One";
  background-color: garamond;
  color: lightskyblue;
  font-size: 30px;
  padding: 15px;
}

li.link:hover{ background-color:  #ffccff; }

/*section.container {
  width: 100%;
  margin: 5px;
  font-size: 23px;
}*/

article.thoughts-block {
  color: deepskyblue;
  font-family: "Tillana";
  font-size: 22px;
  text-align: justify;
  display: inline-block;
}

img.pano {
  height: 400px;
  padding: 5px 15px;
  border: solid 1px #99ffff;
}

img.thumbnail {
  height: 250px;
  width: 30%;
  margin: 5px;
  padding: 5px 10px;
  border: solid 1px #99ffff;
}
