@import "bootstrap";

body, .container-fluid {
    color: rgb(34, 39, 44);
    background-color: whitesmoke;
    margin: 4%;
    padding: 5px;
}
div.container-fluid.resume {
    margin: 20px;
    padding: 5px 20px;
    display: inline-block;
    text-align: center;
}
h1.headline {
    color: #ff99ff; 
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    font-family: "League Script";
    padding: 25px;
}

h2.title, h2.subtitle {
    color: rgb(5, 164, 204);
    font-size: 40px;
    font-family:"Tillana";
}

h2.subtitle, section>h2{
    color: rgb(65, 208, 255);
    font-size: 25px;
    font-family: "Poiret One";
}

h3.header, article.thoughts-block {
    font-size: 15px;
    font-family: "Poiret One";
}

img.pano {
  width: 90%;
  padding: 15px;
}

img.thumbnail:hover {
    border-color: rgb(224, 175, 95);
}

img.thumbnail {
    border: solid 1px rgb(184, 152, 56);
    margin: 5px;
    width: 30%;
    height: auto; 
    display: inline-block;
}
.trw, section.trw {
    width: 100%;
    align-content: center;
    text-align: center;
    position: sticky;
    display: inline-block;
}
ul.menu>li>a:hover {
    color: rgb(5, 164, 204);
}
ul.menu>li>a.blanca {
    color: rgb(3, 79, 104);
}
a:focus, a:hover, ul.menu>li>a:hover {
    text-decoration: none;
    background-color: transparent;
    color: rgb(224, 175, 95);
}
li.link>a.a {
    color: rgb(32, 32, 32);
    font-family: "Poiret One";
    font-size: 23px;
}
li.link>a.a:hover {
    color:silver;
}
ul>menu, ul.menu>li>a, li>link, li>link>a, li>.a>.link, a.control>h2{
    color: rgb(184, 152, 56);
    padding: 15px;
    text-decoration: none;
    font-family: "Quattrocento";
    font-size: 30px;
  }
  div.top-bar a, div>.top-bar, ul.menu>li>a.fa {
      font-family: "Poiret One";
      color: rgb(165, 163, 163);
      font-size: 20px;
  }
  div.top-bar a:hover, div>.top-bar:hover, ul.menu>li>a.fa:hover {
      color: silver;
  }
  
img.car {
    overflow: hidden;
    vertical-align: bottom;
    border: solid 1px darkgray; 
}

.carousel, .carousel-inner, a>.right{
    background-color: transparent;
    overflow: hidden;
    height: 30%;
  }


