section.container {
	color: #34495E;
	background-color: #EAECEE;
	margin: 5px 10px;
	padding: 10px 15px;
	display: inline-block;
	vertical-align: center;
	text-align: center;
	text-decoration: none;
}

section.resume-container {
	background: lightblue;
	color: black;
	font-size: 25px;
}

section.resume-container {
	color: skyblue;
	background: silver;
	border: solid 1px gold;
	margin: 5px;
}

section.secondary-container {
	color: skyblue;
	background: silver;
	border: solid 1px gold;
	padding: 10px 5px;
}

ul.menu {
	background-color: white;
	font-size: 22px;
	font-family: 'Poiret One';
	font-weight: bold;
	padding: 15px 35px;
}

li.link:hover {
	background: lightgrey;
}

h1.headline {
	color: hotpink;
	font-size: 55px;
	font-family: 'League Script';
	padding: 45px 15px;
}

h2.title {
	font-size: 45px;
	font-family: 'Lora';
	color: #3498DB;
}

h2.subtitle {
	font-size: 35px;
	font-family: 'Poiret One'
}

h3.header {
	font-size: 25px;
	font-family: 'Lora';
	text-align: left;
	margin: 5px 10px;
	padding: 15px 20% ;
}

h4.miniscule {
	font-size: 10px;
}

article.thoughts-block {
	font-size: 20px;
	font-family: 'Poiret One';
	margin: 5% 25%;
	text-align: justify;
}
